/* Estilos para el cuerpo de la página */
html {
    width: 100%;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 2rem auto;
}


/* Estilos para el contenedor principal */
.Main {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 2rem;
    border: 2px solid #C0DEFF;
}

/* Estilos para el encabezado */
.Header-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.Header-main a {
    color: #000000;
    text-decoration: none;
    text-shadow: 2px 2px 5px #C0DEFF;
}

.Header-summary {
    width: 90%;
}

/* Estilos para la sección de contenido */
.content {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding: .5rem 0;
    border: 2px solid #C0DEFF;
    background-color: #C0DEFF;
}

.table-row {
    border: 2px solid #C0DEFF;
}

.table-row:hover {
    background-color: #A9D2FF;
}

.table-row td {
    padding: 8px;
}

.table-row a {
    text-decoration: none;
    color: #000000;
}

.fa-trash-can {
    color: #FE0000;
}

.fa-pen-to-square {
    color: #068FFF;
}

.fa-floppy-disk {
    color: #16FF00;
}

button {
    border: none;
    background-color: inherit;
}

input {
    padding: .5rem 0 .5rem .5rem;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 2px #068FFF;
    font-size: 1rem ;
}

input:focus {
    padding: .5rem 0 .5rem .5rem;
    width: 100%;
    border: none;
    box-shadow: 2px 2px 2px #068FFF;
    font-size: 1rem;
    outline: none;
    border: 2px solid #068FFF;
}

/* Estilos para el contenedor principal */
.post-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 2rem;
    border: 2px solid #C0DEFF;
}

/* Estilos para el encabezado */
.post-container h1 {
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-shadow: 2px 2px 5px #C0DEFF;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilos para el cuerpo */
.post-container p {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
}


/* Estilos para hacer la tabla responsive */

@media (max-width: 700px) {
    html {
        max-width: 80%;
        margin: 0 auto;
    }
    /* Estilos para el contenedor principal */
    .Main {
        width: 100%;
    }
    .table-row {
        display: block;
        margin-bottom: 20px;
    }

    .table-row td,th {
        padding-left: 1rem;
        display: block;
        text-align: left;
    }
}